<div class="row" [class.position]="positioning && !player.locked">
    <div class="col-md-8">
        <div style="font-size:0;">
            <app-game-grid #grid [player]="player"></app-game-grid>
        </div>
        <ul>
            <li>You can shoot yourself, so shoot carefully.</li>
            <li>You get 1 shot per alive ship.</li>
        </ul>
    </div>
    <div class="col-md-4 sidebar-offcanvas">
        <app-game-controls [selectedShip]="grid.selectedShip" [selectedCell]="grid.selectedCell"></app-game-controls>
    </div>
</div>
