<div class="well sidebar-nav">
    <button class="btn btn-primary" [disabled]="!selectedShip" *ngIf="doingSetup" (click)="rotateShip()">
        <span class="glyphicon glyphicon-repeat"></span>
    </button>
    <button class="btn btn-success pull-right"
            *ngIf="doingSetup && !player.locked"
            [disabled]="!validPositions"
            (click)="lockShips()">Lock Ships</button>

    <button class="btn btn-success pull-right"
            *ngIf="doingSetup && player.locked && !waiting"
            [disabled]="!validPositions"
            (click)="startGame()">Start Game</button>

    <button class="btn btn-default pull-right"
            *ngIf="waiting"
            disabled="disabled">Waiting for other players</button>

    <button class="btn btn-danger"
            ng-disabled="strPlayer != strCurPlayer || elSelectedPos == null"
            *ngIf="playing"
            (click)="fire()">Fire</button>

<!--    <span ng-show="strWinner">{{strWinner}} WINS!!!</span>-->
<!--    <span ng-show="strPlayer != strCurPlayer && !strWinner">Waiting for {{strCurPlayer}}</span>-->
<!--    <span ng-show="strPlayer == strCurPlayer && !strWinner">Shots Remaining: {{iShotsAvailable}}</span>-->
    {{ strShowPlayer }}
    <hr/>
    <div>
        <div class="panel player" *ngFor="let player of game.players">
            <div class="panel-heading">
                {{ player.name }}
            </div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let ship of player.ships">{{ ship.type }}
<!--                    <span class="circle"-->
<!--                          ng-repeat="hit in ship.getHits(aShots).sort().reverse() track by $index">-->
                    <span class="circle"
                          *ngFor="let hit of ship.hits.sort().reverse()">
                        <span class="hit" *ngIf="hit"></span>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <hr/>
    <h4>Invite more players using game ID: <strong>{{game.gameID}}</strong></h4>
</div>
