<div class="well sidebar-nav">
    <button class="btn btn-primary" [disabled]="!selectedShip" *ngIf="doingSetup" (click)="rotateShip()">
        <span class="glyphicon glyphicon-repeat"></span>
    </button>
    <button class="btn btn-success pull-right"
            *ngIf="doingSetup && !player.locked"
            [disabled]="!validPositions"
            (click)="lockShips()">Lock Ships</button>

    <button class="btn btn-success pull-right"
            *ngIf="doingSetup && player.locked && !waiting"
            [disabled]="!validPositions"
            (click)="startGame()">Start Game</button>

    <button class="btn btn-default pull-right"
            *ngIf="waiting"
            disabled="disabled">Waiting for other players</button>

    <button class="btn btn-danger"
            [disabled]="!selectedCell || !shotsRemaining"
            *ngIf="playing"
            (click)="fire()">Fire</button>

    <span class="pull-right top-info" *ngIf="playerWinner">{{playerWinner}} WINS!!!</span>
    <span class="pull-right top-info" *ngIf="playing && waitingPlayer">Waiting for {{waitingPlayer.name}}</span>
    <span class="pull-right top-info" *ngIf="playing && !waitingPlayer">Shots Remaining: {{shotsRemaining}}</span>

    <hr/>
    <div>
        <div class="panel player" *ngFor="let player of game.players">
            <div class="panel-heading">
                {{ player.name }}
            </div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let ship of player.ships">{{ ship.type }}
<!--                    <span class="circle"-->
<!--                          ng-repeat="hit in ship.getHits(aShots).sort().reverse() track by $index">-->
                    <span class="circle"
                          *ngFor="let hit of ship.hits.slice(0).sort()">
                        <span class="hit" *ngIf="hit"></span>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div *ngIf="doingSetup">
        <hr/>
        <h4>Invite more players using game ID: <strong>{{game.gameID}}</strong></h4>
    </div>
</div>
