.cell {
    border: 1px solid rgba(190,190,190,0.5);
    display: inline-block;
    float: left;
    height: 40px;
    position: relative;
    width: 40px;
    z-index: 20;
}

.cell:hover {
    border-color: #999;
}
.cell.target {
    border: 5px solid #d2322d;
}

.hit-ship {
    background-color: #999;
    border-radius: 6px;
    display: block;
    float: left;
    height: 10px;
    margin: 2px 1px;
    width: 10px;
}
.hit-ship.blue {
    background-color: #428BCA;
}
.hit-ship.orange {
    background-color: #EB9800;
}
.hit-ship.red {
    background-color: #bd051a;
}
.hit-ship.green {
    background-color: #5cb85c;
}
.hit-ship.purple {
    background-color: #8A00B8;
}
.hit-ship.darkblue {
    background-color: #000099;
}

.miss, .shot {
    background-color: #999;
    border-radius: 6px;
    left: 50%;
    height: 12px;
    margin: -6px 0 0 -6px;
    position: absolute;
    top: 50%;
    width: 12px;
}
.shot {
    background-color: #000;
}
